{% extends 'templates/av_page.html' %}

{% block content %}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="/av-home">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="/assets/aakvatech/assets/img/africabg.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>About Us.</h3>
            <p class="fst-italic">
              The organization is a leader in African technology solutions, offering expert consultation, implementation strategies, and localization support for ERPNext. They aim to facilitate transformative change for businesses, enhancing efficiency and growth. Their expertise in ERPNext and understanding of African market dynamics make them a valuable partner for businesses seeking a competitive edge in the digital era.
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i>Leadership in Technology Solutions.</li>
              <li><i class="bi bi-check2-circle"></i> Facilitating Transformative Change.</li>
              <li><i class="bi bi-check2-circle"></i>Valuable Partner for Digital Success.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   


    <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonials" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Timeline</h2>
        </div>

        <div class="testimonials-carousel swiper">
          <div class="swiper-wrapper">
            <div class="testimonial-item swiper-slide">
              <img src="/assets/aakvatech/assets/img/operation.png" class="testimonial-img" alt="">
              <h3>January 1, 2019</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Operationalised
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="/assets/aakvatech/assets/img/undraw_runner_start_x-0-uu.svg" class="testimonial-img" alt="">
              <h3>February 1, 2019</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                First Customer Onboarded
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="/assets/aakvatech/assets/img/erpp.png" class="testimonial-img" alt="">
              <h3>April 15, 2019</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Became ERPNext Partner
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="/assets/aakvatech/assets/img/10.jpeg" class="testimonial-img" alt="">
              <h3>March 31, 2020</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                10 Successful ERP Implementation
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="/assets/aakvatech/assets/img/20.jpeg" class="testimonial-img" alt="">
              <h3>September 30, 2020</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                20 Successful ERP Implementation
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="/assets/aakvatech/assets/img/erpp.png" class="testimonial-img" alt="">
              <h3>August 1, 2021</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Became Silver Partner
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>


            <div class="testimonial-item swiper-slide">
              <img src="/assets/aakvatech/assets/img/ERP.png" class="testimonial-img" alt="">
              <h3>July 18, 2022</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Became Gold Partner
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>


            <div class="testimonial-item swiper-slide">
              <img src="/assets/aakvatech/assets/img/50.jpeg" class="testimonial-img" alt="">
              <h3>October 31, 2022</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                50 Successful ERP Implementation
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Ttstimonials Section -->



    <!-- ======= Team Section ======= -->
    <div class="main">
      <div class="container">
          <div class="row">
            {% set pic_list = frappe.get_all("Team Members", filters={"disabled": 0}, order_by="creation asc") %}
            {% for pic in pic_list %}
            {% set doc = frappe.get_doc("Team Members", pic.name) %}
            <div class="col-md-4"> <!-- Adjust the column size as needed -->
                <div class="profile-card">
                    <div class="img">
                        <img src="{{ doc.profile_picture }}" alt="{{ doc.team_member }}">
                    </div>
                    <div class="caption" style="padding-top: 34px;">
                        <h3><b>{{ doc.team_member }}</b></h3>
                        {% if doc.certified == 1 %}
                        <img class="cert" src="/files/certifiedteam.png" alt="">
                        {% endif %}
                        <div class="social-links">
                            <a class="linkedin" href="{{ doc.social_link }}" target="_blank"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

          </div>
      </div>
  </div><!-- End Team Section -->


  </main><!-- End #main -->
  
  {% endblock %}